---
import Breadcrumb from '@/components/core/breadcrumb.astro'
import Layout from '@/components/layout/index.astro'
import PostList from '@/components/post/post-list.astro'
import { SITE_POST_TITLE } from '@/configs/site.constants'
import { getCategories } from '@/utils/category-content.utils'

export async function getStaticPaths() {
  const categories = await getCategories()
  return categories.map((categoryDetails) => ({
    params: { slug: categoryDetails.category.id },
    props: {
      category: categoryDetails.category,
      posts: categoryDetails.posts,
    },
  }))
}
const { category, posts } = Astro.props
---

<Layout title={category.data.name} description={`List of all the posts related to category: ${category.data.name}`}>
  <Breadcrumb
    crumbs={[
      { name: SITE_POST_TITLE, href: '/post' },
      { name: 'Category', href: '/category' },
      { name: category.data.name, href: '' },
    ]}
  />
  <main id='main-content'>
    <h1 class='text-4xl font-light text-center my-14'>{category.data.name}</h1>
    <PostList posts={posts} headingLevel='h2' type='detailed' filterable={false} />
  </main>
</Layout>
