---
import Breadcrumb from '@/components/core/breadcrumb.astro'
import Layout from '@/components/layout/index.astro'
import PostDetailedList from '@/components/post/post-detailed-list.astro'
import { SITE_POST_TITLE } from '@/configs/site.constants'
import { getPostContents } from '@/utils/post-content.utils'
import { getGroupedPostContentsByCategory } from '@/utils/post-contents-by-category'

export async function getStaticPaths() {
  const postContents = await getPostContents()
  const postContentsByCategories = getGroupedPostContentsByCategory(postContents)
  return postContentsByCategories.map((postContentsByCategory) => ({
    params: { slug: postContentsByCategory.category.id },
    props: {
      postContentsByCategory,
    },
  }))
}
const {
  postContentsByCategory: { category, postContents },
} = Astro.props
---

<Layout title={category.data.name} description={`List of all the posts related to category: ${category.data.name}`}>
  <Breadcrumb
    crumbs={[
      { name: SITE_POST_TITLE, href: '/post' },
      { name: 'Category', href: '/category' },
      { name: category.data.name, href: '' },
    ]}
  />
  <main id='main-content'>
    <h1 class='text-4xl font-light text-center my-14'>{category.data.name}</h1>
    <PostDetailedList {postContents} filterable={false} />
  </main>
</Layout>
