---
import Accordion from '@/components/accordion.astro'
import Breadcrumb from '@/components/breadcrumb.astro'
import Link from '@/components/link.astro'
import { SITE_POST_TITLE } from '@/configs/site.constants'
import Layout from '@/layout/index.astro'
import PostList from '@/modules/post/post-list.astro'
import { getCategories } from '@/utils/category-content.utils'

const categoriesDetails = await getCategories()
---

<Layout title='Categories | Sujeet.pro' description='List of all the categories, I write about.'>
  <Breadcrumb
    crumbs={[
      { name: SITE_POST_TITLE, href: '/post' },
      { name: 'All Categories', href: '' },
    ]}
  />
  <h1 class='text-4xl font-light text-center my-14'>Categories</h1>

  {
    categoriesDetails.map(({ posts, category, count }) => (
      <Accordion title={category.data.name}>
        <h2 class='text-2xl ' slot='title'>
          <Link href={`/category/${category.id}`}>
            {category.data.name} ({count})
          </Link>
        </h2>
        <PostList posts={posts} type='simple' />
      </Accordion>
    ))
  }
</Layout>
