---
import Accordion from '@/components/core/accordion.astro'
import Breadcrumb from '@/components/core/breadcrumb.astro'
import Link from '@/components/core/link.astro'
import Layout from '@/components/layout/index.astro'
import PostList from '@/components/post/post-list.astro'
import { SITE_POST_TITLE } from '@/configs/site.constants'
import { getCategories } from '@/utils/category-content.utils'

const categoriesDetails = await getCategories()
---

<Layout title='Categories | Sujeet.pro' description='List of all the categories, I write about.'>
  <Breadcrumb
    crumbs={[
      { name: SITE_POST_TITLE, href: '/post' },
      { name: 'All Categories', href: '' },
    ]}
  />
  <main id='main-content'>
    <h1 class='text-4xl font-light text-center my-14'>Categories</h1>

    {
      categoriesDetails.map(({ posts, category, count }) => (
        <Accordion title={category.data.name}>
          <h2 class='text-2xl ' slot='title'>
            <Link href={`/category/${category.id}`}>
              {category.data.name} ({count})
            </Link>
          </h2>
          <PostList posts={posts} type='simple' />
        </Accordion>
      ))
    }
  </main>
</Layout>
