---
import { type CollectionEntry, render } from 'astro:content'
import { Image } from 'astro:assets'
import FormattedDate from '$components/formatted-date.astro'
import Layout from '$layout'
import { getEntries } from 'astro:content'
import Tag from '$components/tag.astro'
import TableOfContents from '$components/table-of-contents.astro'
import { getBlogPostContent } from 'src/utils/content.utils'
import { COLOR_TEXT_MUTED } from '$configs/colors'
import PostList from '$components/post-list.astro'
export async function getStaticPaths() {
  const posts = await getBlogPostContent()
  const postCount = posts.length
  return posts.map((post, index) => ({
    params: { slug: post.id },
    props: {
      post,
      prevPost: index + 1 !== postCount ? posts[index + 1] : null,
      nextPost: index !== 0 ? posts[index - 1] : null
    }
  }))
}
type Props = {
  post: CollectionEntry<'blog'>
  prevPost: CollectionEntry<'blog'> | null
  nextPost: CollectionEntry<'blog'> | null
}

const { post, prevPost, nextPost } = Astro.props
const { title, description, pubDate, lastUpdatedDate, image, imageCredit } = post.data
// console.log(post.data.tags)
const tags = await getEntries(post.data.tags)
const { Content, headings } = await render(post)
---

<Layout title={title} description={description}>
  <article class=''>
    <h1 class='text-4xl font-light'>{title}</h1>

    <div class:list={['my-2 flex', COLOR_TEXT_MUTED]}>
      <FormattedDate date={pubDate} />
      {
        lastUpdatedDate ? (
          <span class='ml-4'>
            Last updated: <FormattedDate date={lastUpdatedDate} />
          </span>
        ) : null
      }
    </div>
    <p class='my-8 text-2xl font-light'>{description}</p>
    {
      image ? (
        <figure class='my-8'>
          <Image src={image} alt={title} />
          {imageCredit ? <figcaption class='text-center text-xs italic' set:html={imageCredit} /> : null}
        </figure>
      ) : null
    }
    {headings.length ? <TableOfContents headings={headings} /> : null}
    <div class='prose dark:prose-invert max-w-none'>
      <Content />
    </div>
  </article>

  <hr class='my-8' />

  <div class='flex flex-wrap gap-x-5 gap-y-1 text-sm'>
    {tags.map((tag) => <Tag tag={tag} />)}
  </div>

  <nav class='mt-12'>
    <h2 class='text-lg italic'>Read Next</h2>
    <PostList posts={[]} nextPost={nextPost} prevPost={prevPost} />
  </nav>
</Layout>
