---
const {BASE_URL} = import.meta.env;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Sujeet.pro</title>
	</head>
	<body>
		<h1>Work In Progress</h1>
    <ul>
      <li><a href={BASE_URL}>Home</a></li>
      <li><a href={`${BASE_URL}blog`}>Blog</a></li>
      <li><a href={`${BASE_URL}blog/sample-1`}>Sample 1</a></li>
    </ul>
	</body>
</html>
