---
import Breadcrumb from '@/components/breadcrumb.astro'
import FormattedDate from '@/components/formatted-date.astro'
import Link from '@/components/link.astro'
import Markdown from '@/components/markdown.astro'
import ResponsiveImage from '@/components/responsive-image.astro'
import TableOfContents from '@/components/table-of-contents.astro'
import { CLS_COLOR_DIVIDER } from '@/configs/colors'
import { SITE_POST_TITLE } from '@/configs/site.constants'
import Layout from '@/layout/index.astro'
import PostList from '@/modules/post/post-list.astro'
import SeriesInfo from '@/modules/series/series-info.astro'
import Tag from '@/modules/tag/tag.astro'
import { getPosts } from '@/utils/post-content.utils'
import { getAllSeriesByPostId } from '@/utils/series-content.utils'
import { getEntries, getEntry, render } from 'astro:content'

export async function getStaticPaths() {
  const posts = await getPosts({ allowUnpublished: true })
  const postCount = posts.length
  return posts.map((post, index) => ({
    params: { slug: post.id },
    props: {
      post,
      prevPost: index + 1 !== postCount ? posts[index + 1] : null,
      nextPost: index !== 0 ? posts[index - 1] : null,
    },
  }))
}

const { post, prevPost, nextPost } = Astro.props
const { title, description, publishedOn, lastUpdatedOn, image, imageCredit } = post.data
const tags = await getEntries(post.data.tags)
const category = await getEntry(post.data.category)
const { Content, headings } = await render(post)
const seriesList = await getAllSeriesByPostId(post.id)
// All the reviews must have a article Link
if (category.id === 'reviews') {
  const articleLink = post.data.articleLink
  if (!articleLink) {
    throw new Error('Review must have an article link')
  }
}
---

<Layout title={title} description={description} noIndex={!publishedOn}>
  <Breadcrumb
    crumbs={[
      { name: SITE_POST_TITLE, href: '/post' },
      { name: category.data.name, href: `/category/${category.id}` },
      { name: title, href: '' },
    ]}
  />
  <article data-pagefind-body={publishedOn ? '' : null}>
    <h1 class='text-4xl font-light'>{title}</h1>
    <div class:list={['my-2 flex text-sm divide-x', CLS_COLOR_DIVIDER]}>
      <span data-pagefind-filter='category' class='pr-2'>{category.data.name}</span>
      {publishedOn ? <FormattedDate date={publishedOn} class='px-2' /> : <span class='px-2'>In Draft</span>}
      {
        lastUpdatedOn && publishedOn && publishedOn.toISOString() !== lastUpdatedOn.toISOString() ? (
          <span class='px-2'>
            Last updated: <FormattedDate date={lastUpdatedOn} />
          </span>
        ) : null
      }
    </div>
    <p class='my-8 text-2xl font-light'>{description}</p>
    {
      category.id === 'reviews' && post.data.articleLink ? (
        <Link href={post.data.articleLink} target='_blank' class=''>
          Read the original article
        </Link>
      ) : null
    }
    {
      image ? (
        <ResponsiveImage src={image} alt={title} priority>
          {imageCredit ? <span class='text-center text-xs italic' set:html={imageCredit} /> : null}
        </ResponsiveImage>
      ) : null
    }
    {seriesList.map((series) => (series.posts.length > 1 ? <SeriesInfo series={series} postId={post.id} /> : null))}
    {headings.length ? <TableOfContents headings={headings} /> : null}
    <Markdown elem='div'>
      <Content />
    </Markdown>
  </article>

  <hr class='my-8' />

  <div class='flex flex-wrap gap-x-5 gap-y-1 text-sm'>
    {tags.map((tag) => <Tag tag={tag} type='link' filterTag='tag' />)}
  </div>

  <nav class='mt-12'>
    <h2 class='text-lg italic'>Read Next</h2>
    <PostList nextPost={nextPost} prevPost={prevPost} type='next-prev' />
  </nav>
</Layout>
