---
import Breadcrumb from '@/components/core/breadcrumb.astro'
import { SITE_POST_TITLE } from '@/configs/site.constants'
import Layout from '@/components/layout/index.astro'
import PostList from '@/components/post/post-list.astro'
import PostFilter from '@/components/post/post-filter.astro'
import { getPosts } from '@/utils/post-content.utils'
import { getTags } from '@/utils/tag-content.utils.ts'
import { getCategories } from '@/utils/category-content.utils'

const posts = await getPosts()
const tagDetails = await getTags()
const categoryDetails = await getCategories()
---

<Layout title="Sujeet's Articles" description='List of all the published posts'>
  <Breadcrumb crumbs={[{ name: SITE_POST_TITLE, href: '/post' }]} />
  <h1 class='text-4xl font-light text-center my-14'>{SITE_POST_TITLE}</h1>
  <PostFilter {categoryDetails} {tagDetails} />
  <main id='main-content'>
    <PostList posts={posts} headingLevel='h2' type='detailed' filterable={true} />
  </main>
</Layout>

<script>
  function markTagsFromQuery() {
    const urlParams = new URLSearchParams(window.location.search)
    const tags = urlParams.getAll('tag')
    tags.forEach((tagId) => {
      const tagElement = document.querySelector<HTMLInputElement>(
        `input[type="checkbox"][value="${tagId}"].tag-selector`,
      )
      console.log('tagElement', tagElement)
      if (tagElement) {
        tagElement.checked = true
      }
    })
  }

  document.addEventListener('DOMContentLoaded', markTagsFromQuery)
</script>
