---
import Link from '@/components/link.astro'
import type { CollectionEntry } from 'astro:content'

type Props = {
  tag: CollectionEntry<'tag'>
  count?: number | undefined
  type: 'input' | 'text' | 'link'
}

const { tag, count, type = 'text' } = Astro.props
---

{
  type === 'input' ? (
    <label class='flex gap-1 items-center has-checked:font-semibold'>
      <input type='checkbox' class='tag-selector' value={tag.id} />#{tag.data.name}
      {count && ` (${count})`}
    </label>
  ) : null
}
{
  type === 'text' ? (
    <span>
      #{tag.data.name}
      {count && ` (${count})`}
    </span>
  ) : null
}
{
  type === 'link' ? (
    <Link href={`/tag/${tag.id}`} class='hover:underline'>
      #{tag.data.name}
      {count && ` (${count})`}
    </Link>
  ) : null
}
