---
import { SITE_BLOG_TITLE, SITE_REVIEW_TITLE } from '@/configs/site.constants'
import Layout from '@/layout/index.astro'
import BlogList from '@/modules/blog/blog-list.astro'
import ReviewList from '@/modules/review/review-list.astro'
import TagListAccordion from '@/modules/tag/tag-list-accordion.astro'
import { getTagsWithCount } from '@/utils/tag-content.utils'

export async function getStaticPaths() {
  const tagsDetails = await getTagsWithCount({ countBlog: true, countReview: true })
  return tagsDetails.map(({ tag, count, blogs, reviews }) => ({
    params: { id: tag.id },
    props: {
      tag,
      count,
      tagsDetails,
      blogs,
      reviews
    }
  }))
}

const { tag, count, blogs, reviews, tagsDetails } = Astro.props

const { name } = tag.data
---

<Layout title={name} description={`Post related to ${name}`}>
  <h1 class='text-4xl font-light text-center my-14'># {name} ({count})</h1>
  <TagListAccordion tagsWithCount={tagsDetails} />
  {
    blogs.length ? (
      <h2 class='text-xl my-7'>
        {SITE_BLOG_TITLE} <span>({blogs.length})</span>
      </h2>
    ) : null
  }
  <BlogList blogs={blogs} headingLevel='h3' />
  {
    reviews.length ? (
      <h2 class='text-xl my-7'>
        {SITE_REVIEW_TITLE} <span>({reviews.length})</span>
      </h2>
    ) : null
  }
  <ReviewList reviews={reviews} headingLevel='h3' />
</Layout>
