---
import Breadcrumb from '@/components/breadcrumb.astro'
import Layout from '@/layout/index.astro'
import BlogList from '@/modules/blog/blog-list.astro'
import { getTags } from '@/utils/tag-content.utils'

export async function getStaticPaths() {
  const tagsDetails = await getTags()
  return tagsDetails.map((tagDetails) => ({
    params: { slug: tagDetails.tag.id },
    props: {
      tag: tagDetails.tag,
      blogs: tagDetails.blogs
    }
  }))
}
const { tag, blogs } = Astro.props
---

<Layout title={tag.data.name} description={`List of all the blogs related to category: ${tag.data.name}`}>
  <Breadcrumb
    crumbs={[
      { name: 'Blog', href: '/blog' },
      { name: 'Tags', href: '/tag' },
      { name: tag.data.name, href: '' }
    ]}
  />
  <h1 class='text-4xl font-light text-center my-14'>{tag.data.name}</h1>
  <BlogList blogs={blogs} headingLevel='h2' type='detailed' filterable={false} />
</Layout>
