---
import Breadcrumb from '@/components/core/breadcrumb.astro'
import Layout from '@/components/layout/index.astro'
import PostList from '@/components/post/post-list.astro'
import { SITE_POST_TITLE } from '@/configs/site.constants'
import { getTags } from '@/utils/tag-content.utils'

export async function getStaticPaths() {
  const tagsDetails = await getTags()
  return tagsDetails.map((tagDetails) => ({
    params: { slug: tagDetails.tag.id },
    props: {
      tag: tagDetails.tag,
      posts: tagDetails.posts,
    },
  }))
}
const { tag, posts } = Astro.props
---

<Layout title={tag.data.name} description={`List of all the posts related to category: ${tag.data.name}`}>
  <Breadcrumb
    crumbs={[
      { name: SITE_POST_TITLE, href: '/post' },
      { name: 'Tags', href: '/tag' },
      { name: tag.data.name, href: '' },
    ]}
  />
  <main id='main-content'>
    <h1 class='text-4xl font-light text-center my-14'>{tag.data.name}</h1>
    <PostList posts={posts} headingLevel='h2' type='detailed' filterable={false} />
  </main>
</Layout>
