---
import Accordion from '@/components/core/accordion.astro'
import Breadcrumb from '@/components/core/breadcrumb.astro'
import Link from '@/components/core/link.astro'
import Layout from '@/components/layout/index.astro'
import PostSimpleList from '@/components/post/post-simple-list.astro'
import { SITE_POST_TITLE } from '@/configs/site.constants'
import { getPostContents } from '@/utils/post-content.utils'
import { getGroupedPostContentsByTag } from '@/utils/post-contents-by-tag'

const postContents = await getPostContents()
const postContentsByTags = getGroupedPostContentsByTag(postContents)
---

<Layout title='Tags | Sujeet.pro' description='List of all the tags, I write about.'>
  <Breadcrumb
    crumbs={[
      { name: SITE_POST_TITLE, href: '/post' },
      { name: 'All Tags', href: '' },
    ]}
  />
  <main id='main-content'>
    <h1 class='text-4xl font-light text-center my-14'>Tags</h1>
    {
      postContentsByTags.map(({ postContents, tag, postCount }) => (
        <Accordion title={tag.data.name}>
          <h2 class='text-xl' slot='title'>
            <Link href={`/tag/${tag.id}`}>
              {tag.data.name} ({postCount})
            </Link>
          </h2>
          <PostSimpleList {postContents} />
        </Accordion>
      ))
    }
  </main>
</Layout>
