---
import './global.css'
import '@fontsource-variable/open-sans'
import openSansWoff2 from '@fontsource-variable/open-sans/files/open-sans-latin-wght-normal.woff2?url'
import Seo from './seo.astro'
import Favicons from './favicons.astro'
import Analytics from './analytics.astro'
import { SITE_TITLE, SITE_CANONICAL_ORIGIN } from '$configs/site.constants'
import Header from './header.astro'
import Footer from './footer.astro'

type Props = {
  title: string
  description: string
  image?: string | undefined
}
const { title, description, image } = Astro.props
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width,initial-scale=1' />
    <meta name='generator' content={Astro.generator} />
    <link rel='preload' as='font' type='font/woff2' href={openSansWoff2} crossorigin='anonymous' />
    <Seo title={title} description={description} image={image} />
    <Favicons />
    <!-- RSS Feed -->
    <link
      rel='alternate'
      type='application/rss+xml'
      title={SITE_TITLE}
      href={new URL('rss.xml', SITE_CANONICAL_ORIGIN)}
    />
    <!-- SiteMap -->
    <link rel='sitemap' href={new URL('sitemap-index.xml', SITE_CANONICAL_ORIGIN)} />
  </head>
  <body class='bg-stone-100 text-stone-800 dark:bg-stone-900 dark:text-stone-100 antialiased break-words'>
    <div class='bg-inherit max-w-3xl mx-auto px-4 md:px-8 flex flex-col gap-y-6 min-h-screen'>
      <Header />
      <main class='grow w-full'>
        <slot />
      </main>
      <Footer />
    </div>
    <Analytics />
  </body>
</html>
